@charset "UTF-8";

body{
    background-color: rgb(105, 105, 105);
    font: normal 16px Arial, sans-Serif;
}

main, header {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #876e60aa;
    width: 1200px;
    padding: 10px;
    margin: auto;
}

section#cabeça {
    text-align: center;
    display: inline;
}